# BitBucket OAuth consumer key
bitbucket-consumer-key=

# BitBucket OAuth consumer secret
bitbucket-consumer-secret=

# BitBucket repository
bitbucket-repo=

# BitBucket username
bitbucket-user=

# Redmine API key
redmine-apikey=

# Root url of redmine server
redmine-root=

# Redmine project id
redmine-project-id=
